{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Exchanger</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Currencies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cryptos</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="main">
    <div class="row">
        <div class="col">
            <div class="header deal d-flex">
                <div class="d-flex p-2 justify-content-start text-light">
                    <h4 class="bg-light d-lg-inline ">Buy BTC</h4>
                </div>

                <div class="d-flex p-2 justify-content-end">
                    <button class="d-lg-inline  btn btn-primary btn-mini">New Deal</button>
                </div>
            </div>
            <div class="deal-table deal">
                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>BTC</th>
                        <th>Rub</th>
                        <th>Currency</th>
                        <th>Payment System</th>
                        <th>Raiting</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>0,2</td>
                        <td>2000</td>
                        <td>.231</td>
                        <td>QIWI</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>0,2</td>
                        <td>2000</td>
                        <td>.231</td>
                        <td>QIWI</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>0,2</td>
                        <td>2000</td>
                        <td>.231</td>
                        <td>QIWI</td>
                        <td>10</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <div class="col">
            <div class="header deal d-flex">
                <div class="d-flex p-2 justify-content-start text-light">
                    <h4 class="bg-light d-lg-inline ">Buy RUB</h4>
                </div>

                <div class="d-flex justify-content-end">
                    <button class="d-lg-inline  btn btn-primary btn-mini">New Deal</button>
                </div>
            </div>
            <div class="deal-table deal">
                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>RUB</th>
                        <th>BTC</th>
                        <th>Currency</th>
                        <th>Payment System</th>
                        <th>Raiting</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2000</td>
                        <td>0.201</td>
                        <td>.231</td>
                        <td>QIWI</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>0,2</td>
                        <td>2000</td>
                        <td>.231</td>
                        <td>QIWI</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>0,2</td>
                        <td>2000</td>
                        <td>.231</td>
                        <td>QIWI</td>
                        <td>10</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script>

</body>
</html>